@font-face {
    font-family: PF DinDisplay;
    src: url(font/pfdindisplayreg2.woff);
    font-weight:400;
    font-style:normal
}
html{
    width: 100%;
    height: 100%;
}
body {
    font-family: 'PF DinDisplay';
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
nav{
    margin: 0 !important;
    font-family: 'PF DinDisplay';
    font-size: 17px;
    border-radius: 0 !important;
}
nav li, nav li a{
    transition: all 0.6s ease;
}
nav li:hover{
    background-color: #080808;
}
#container{
    width: 100%;
    height: calc(100% - 50px);
}
.navbar-header{
    padding-left: 2%;
}
.navbar-brand{
    text-transform:uppercase;
    padding-left: 50px !important;
    background-image: url('../images/map30.png');
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 30px;
}
.navbar-right{
    padding-right: 2%;
}
#add-place-button{
    padding-right: 20px;
    background-image: url('../images/pointer.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 30px;
}

#to-statistic-button {
    padding-right: 25px;
    background-image: url('../images/statistic.png');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 22px;
}

.glyphicon{
    margin-right: 2px;
}
#map{
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100% - 10px);
}
form,input,textarea,button{
    margin: 5px 0 0 5px;
    display: block;
}
textarea{
    resize: none;
}

form#add-place {
    display: none;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 24px;
    font-family: FontAwesome;
}
.rating > span {
    display: inline-block;
    position: relative;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    cursor: pointer;
    content: "\f005";
    color: gold;
    position: absolute;
}

#data {
    display: none;
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
}

.comment>div {
    margin-bottom: 15px;
}

#registration-form, #login-form {
    display: none;
}

footer {
    font-family: 'PF DinDisplay';
    font-size: 17px;
    background-color: #222;
    width: 100%;
    height: 50px;
}
footer p{
    float: right;
    padding-right: 30px;
    line-height: 50px;
    text-transform: uppercase;
    margin: 0!important;
    color: #9d9d9d;
}

/*login.php*/

#login-form {
    width: 300px;
}
.btn-lg {

    margin: 5px auto !important;
    padding: 6px 0px !important;
    float: none !important;

}

/*registration.php*/

#registration-form {
    width: 300px;
}

/*add-place-form.php*/

#add-place {
    width: 300px;
}

/*InfoWindow*/
.info-window {
    text-align: center;
    width: 200px;
}

.show-details {
    margin: auto;
}

form {
    margin: auto;
}

.info-window-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}

.fa-star, .fa-star-half-o{
    color: #ffed3d;
}

/*Comments*/

.commenterImage {
    width: 45px;
    margin-right: 5px;
    height: 100%;
    float: left;
}
.commenterImage img {
    width: 100%;
    border-radius: 50%;
}
.commentText p {
    font-size: 17px;
    margin: 0;
}
.sub-text {
    color:#aaa;
    font-family: verdana;
    font-size: 12px;
}

/*Statistic*/

.form-control.filter_list {
    margin-top: 8px;
}

#content {
    margin: 50px 30px;

}
