html{
    width: 100%;
    height: 100%;

}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#map{
    width: 100%;
    height: 80%;
}
form,input,textarea{
    margin:5px 0 0 5px;
    display: block;
}
textarea{
    resize: none;
}